<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <!-- Database connection settings -->
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/restdb</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">Aryan2005@</property>

        <!-- Dialect and helper settings -->
<!--        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>-->


        <property name="hibernate.show_sql">true</property>
        <!-- this will print the sql query on the console that the computer enters-->


       <property name="hibernate.hbm2ddl.auto">update</property>
        <!-- this will auto automatically create the table in the database if the table is
        not available in the database           it have multiple propertied like
           update , create -  delete the existing database and then make the new table

        -->

        <!-- Registered entity classes -->
<!--        <mapping class="org.example.alien"/>-->



    </session-factory>
</hibernate-configuration>